node_modules/
dist/
.env
.env.local
.env.*.local
*.log
.DS_Store
.vscode/
.idea/
*.swp
*.swo
*~
amounts.json
mint.json
.env
claim/
emergency_wallets/
wallets_backups/
solana_wallet_monitor/claim/
solana_wallet_monitor/emergency_wallets/
solana_wallet_monitor/wallets_backups/
.env
solana_wallet_monitor/profile_images/
profile_images/
